/** reset */
	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
/** End Reset */

*{ 
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
	box-sizing: inherit;
	
	}

body {
	font: Helvetica, Arial, sans-serif;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 240%;
}


li { display: inline; padding: 5px;}

a {
	text-decoration: none;
}
	a:hover { color: #d3d3d3; }


.info {
	clear: both;
	background-color: #fafafa;
	padding: 1px 1px;
}

.info p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	padding-right: 10px;
	display: inline;
}

.info a {
	color: #807c72;
}


#nav {
	background-color: #efefef;
	margin-top: 5px;
	padding: 5px 5px 5px 5px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 120px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
	clear: both;
	background-color: #fafafa);
	padding: 1px 5px;
  	z-index: 1;
}

.footer p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	text-align: right;
	padding-right: 10px;

}

.footer a {
	color: #807c72;
}